# Ensure only the absolutly necessary files are in source control.

# Ignore Gradle output
.gradle/*
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Eclipse project files
.classpath
.project

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Ignore MAC system files
.DS_Store
